body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
}
#container {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s;
}
.theme-light {
    background-color: aliceblue;
    color: #333;
    border: 1px solid black;
}

.theme-light h2 { color: #2c3e50; }
.theme-dark {
    background-color: #2c3e50;
    color: #ecf0f1;
    border: 1px solid #34495e;
}
.theme-dark h2 { color: #e74c3c; }
.theme-dark .list-item {
    background-color: #34495e;
}
ul {
    padding-left: 20px;
    margin-top: 20px;
}
.list-item {
    padding: 10px;
    margin-bottom: 5px;
}
.btn {
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #0f4cbe; 
    color: white;
}