body{
    background-color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10pt;
}
header, footer{
    border: 2px solid blue;
    padding: 5px;
}
a{
    float: right;
}
.inner-grid{
    display: grid;
    grid-template-rows: 50px auto 50px;
    grid-gap: 8px;
}
.catalog-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    grid-gap: 6px;
} 
.good{
    border: 2px solid blue;
    height: 100px;
}
.sort{
    border: 2px solid blue;
    height: 60px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:2;
}
.filter{
    border: 2px solid blue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:5;
}
