body{
    background-color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10pt;
}
header, footer{
    border: 2px solid blue;
    padding: 5px;
}
a{
    float: right;
}
.index-grid{
    display: grid;
    grid-template-rows: 50px auto 50px;
    grid-gap: 8px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    grid-gap: 4px;
    } 
.promo,.blog{
    height: 300px;
    grid-column-start: 1;
    grid-column-end: 3;
    border: 2px solid blue;
}
.sidebar{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:3;
    border: 2px solid blue;
}
.flex{
    height: 200px;
    border: 2px solid red;
}
.scale{
    border: 2px solid darkgreen;
    grid-column-start: 1;
    grid-column-end: 4;
}