body{
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    padding: 15px;
    border: 1px solid black;
    border-radius: 2pt;
    background-color: antiquewhite;
    max-width: fit-content;
    cursor: pointer;
}
img{
    display: none;
}

.visible{
    display: block;
}